@media (max-width: 768px) {
  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: block;
  }
  .menu-links {
    display: none;
  }
}

@media (min-width: 769px) {
  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }
  .menu-links {
    display: block;
  }
  .menu-contact {
    background-color: #2c2c2c;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
  }
}
